---
import "../styles/globalStyles.css" // apprarently you can only import files in this way when working on src 
import "../styles/Header.css"
import "../styles/Card.css"
import "../styles/searchConfigContainer.css"
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Biblioteca</title>
	</head>
	<body>
		<div class="header">
			<a id="favorites" href="/" style="background-color: #ffffff;">Favorites</a> 
			<a id="search" href="/search/" style="background-color: #9A9A9A;">Search</a> 
		</div>

        <div class="searcher-config-container">
            <div>
                <input style="border-radius: 25px;" type="text" placeholder="Search for a book">
                <button>Search</button>
            </div>
     
        </div>

		<div class="container">	</div>


		<script is:inline>

			var preURL = "https://openlibrary.org/search.json?q=";

			var search = document.querySelector("input");
			var searchButton = document.querySelector("button");

			searchButton.addEventListener("click", function() {
				
				let completeURL = preURL + search.value;

				console.log(completeURL);

				fetch(completeURL)
					.then(response => response.json())
					.then(data => {

						for (let i = 0; i < data.docs.length; i++) {
							console.log(data.docs[i].author_name[i]);
							console.log(data.docs[i].title);
							console.log(data.docs[i].cover_edition_key);

							let olid = data.docs[i].cover_edition_key + "-L.jpg";
							let coverURL = "https://covers.openlibrary.org/b/olid/" + olid;
							console.log(coverURL);

							var container = document.querySelector(".container");
							var div = document.createElement("div");
							div.classList.add("card");
							container.appendChild(div);


							var img = document.createElement("img");
							img.src = coverURL;
							img.alt = data.docs[i].title;
							div.appendChild(img);

							var informationContainer = document.createElement("div");
							informationContainer.classList.add("information-container");
							div.appendChild(informationContainer);

							var div2 = document.createElement("div");
							informationContainer.appendChild(div2);	

							var h2 = document.createElement("h2");	
							h2.textContent = data.docs[i].author_name[i];
							div2.appendChild(h2);

							var h2 = document.createElement("h2");
							h2.textContent = data.docs[i].title;
							div2.appendChild(h2);
						}
						
 
	
						console.log(data)})
					.catch(error => console.error('Error:', error));

					
			
			});
			
			
		</script>

<!--	<div class="card">
				<img src="URL" alt="title"> 
				<div class="information-container">
					<div>
						<h2> Viktor FrankL</h2>
						<h2> El hombre en busca de sentido</h2>
					</div>
					<img class="corazon" src="../../public/corazon.svg" alt="Corazon">
				</div>
			</div>

							

					
	</body>
</html>
